# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.py[cod]
venv/
.env
*.egg-info/

# IDEs
.idea/
.vscode/
*.swp
*.DS_Store

# AWS
aws-credentials

# OS
Thumbs.db